@if (isOpen()) {
<div (click)="close.emit()" class="fixed inset-0 bg-black/60 backdrop-blur-sm z-[80] transition-opacity"></div>
}
<aside [class.translate-x-0]="isOpen()" [class.-translate-x-full]="!isOpen()"
    class="fixed top-0 left-0 h-full w-72 bg-[#0a0e14] border-r border-slate-800/50 z-[90] transition-transform duration-300 ease-in-out p-8 pt-24 shadow-2xl">

    <div class="mb-10">
        <h1 class="font-orbitron text-xs font-black tracking-[0.3em] text-slate-500 uppercase">
            Menu
        </h1>
        <div class="h-px w-12 bg-cyan-500 mt-2"></div>
    </div>

    <nav class="flex flex-col gap-2">
        <a routerLink="/dashboard" (click)="close.emit()" routerLinkActive="active-link" class="nav-item">Dashboard</a>
        <a routerLink="/history" (click)="close.emit()" routerLinkActive="active-link" class="nav-item">Histórico</a>
        <a routerLink="/shop" (click)="close.emit()" routerLinkActive="active-link" class="nav-item">Shopping</a>
        <a routerLink="/badges" (click)="close.emit()" routerLinkActive="active-link" class="nav-item">Conquistas</a>
    </nav>

    <div class="absolute bottom-20 left-8 right-8">
        <button (click)="logout()" class="w-full py-2.5 rounded font-orbitron text-[10px] tracking-widest uppercase
           border border-rose-500/30 text-rose-400
           hover:bg-rose-500/10 hover:border-rose-400
           transition-all active:scale-95">

            Logout
        </button>
    </div>
    <div class="absolute bottom-6 left-8">
        <p class="text-[8px] font-mono text-slate-600 tracking-tighter">
            versão {{ appVersion }}
        </p>
    </div>
</aside>